
ImagePlugin/spigot-1.13.2.jar
ImagePlugin/craftbukkit-1.13.2.jar
ImagePlugin/BuildTools.log.txt
ImagePlugin/Spigot/
ImagePlugin/world/
ImagePlugin/world_nether/
ImagePlugin/world_the_end/
ImagePlugin/logs/latest.log
ImagePlugin/server.properties
ImagePlugin/usercache.json
ImagePlugin/world/data/villages.dat
ImagePlugin/world/data/villages_end.dat
ImagePlugin/world/data/villages_nether.dat
ImagePlugin/world/level.dat
ImagePlugin/world/level.dat_old
ImagePlugin/world/region/r.-1.-1.mca
ImagePlugin/world/region/r.-1.0.mca
ImagePlugin/world/region/r.0.-1.mca
ImagePlugin/world/region/r.0.0.mca
ImagePlugin/world/session.lock
ImagePlugin/world_nether/DIM-1/region/r.-1.-1.mca
ImagePlugin/world_nether/DIM-1/region/r.-1.0.mca
ImagePlugin/world_nether/DIM-1/region/r.0.-1.mca
ImagePlugin/world_nether/DIM-1/region/r.0.0.mca
ImagePlugin/world_nether/level.dat
ImagePlugin/world_nether/level.dat_old
ImagePlugin/world_nether/session.lock
ImagePlugin/world_the_end/DIM1/region/r.-1.-1.mca
ImagePlugin/world_the_end/DIM1/region/r.-1.0.mca
ImagePlugin/world_the_end/DIM1/region/r.0.-1.mca
ImagePlugin/world_the_end/DIM1/region/r.0.0.mca
ImagePlugin/world_the_end/level.dat
ImagePlugin/world_the_end/level.dat_old
ImagePlugin/world_the_end/session.lock
